# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List of popular languages for Data Science
- List of popular tools for Data Science
- Learning about various libraries, APIs, Datasets, and Models

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. SQL

Some of the commonly used libraries used by Data Scientists include: 
1. Pandas
2. NumPy
3. Matplotlib

|Data Science Tools|
|---|
|Jupyter Notebook|
|Anaconda|
|R Studio|

### Below are a few examples of evaluating arithmetic expressions in Python

In [7]:
# This is a simple arithmetic expression to multiply then add integers

(3*4)+5

17

In [8]:
# This will convert 200 minutes to hours by dividing by 60

200/60

3.3333333333333335

# Author
Brian Luis